.banner {
    background-image: url(https://medias.paris2024.org/uploads/2021/12/Olympic-seine.jpg?x-oss-process=image/resize,w_1400,h_840,m_lfit/format,jpeg);
    background-size: cover;
    padding: 100px;
}